<div class="relative flex ml-auto text-lg text-center text-white">{{ weather.getName() }}, Current time
    : {{ weather.getCurrentTime() }}<br>
    {{ weather.getDescription() }},
    {{ weather.getTemperature() }}°C.
</div>
