<div class="relative flex ml-auto text-lg text-center text-white">{{ weather.getName() }}<br>
    {{ weather.getDescription() }},
    {{ weather.getTemperature() }}°C. Current time :
    {{ weather.getCurrentTime() }}
</div>