<form action="/set" method="get" class="flex items-center">
    <label for="city"></label>
    <input type="text" id="city" placeholder="{{ weather.getName() }}" name="city"
           class="w-32 p-2 rounded-full pr-3  mr-2 bg-white text-black">
    <button type="submit" class="bg-blue-700 hover-bg-blue-800 text-white font-bold py-2 px-4 mr-2 rounded-full">Set
        City
    </button>
</form>